---
const { title, description, home } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body>
  <main>
    <slot />
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const homeCenteredHeader = document.querySelector('.home-centered-header');
      if (homeCenteredHeader) {
        homeCenteredHeader.style.flex = 'auto';
      }
    });
  </script>
</body>
</html>